*.swp
*.o
a.out

renderer/*.aux
renderer/*.log
renderer/*.out
renderer/*.pdf
renderer/*.gz
renderer/*.toc


enginnering/*.aux
enginnering/*.log
enginnering/*.out
enginnering/*.pdf
enginnering/*.gz
enginnering/*.toc