*.swp
*.o
a.out
*.aux
*.log
*.out
*.gz
*.toc
*.pdf
*.bcf
*.fls
*.idx
*.maf
*.mtc
*.mtc0
*.fdb_latexmk
*.run.xml
*.bbl
*.blg

*.dvi
*.exa
*.ilg
*.ind

renderer/renderer.synctex(busy)
zhangyu1000/*


noteTemplate2/note.nav
noteTemplate2/note.snm
renderer/subpart/tmp.tex
resume/scripts/fs_sty.sh
resume/scripts/fs_sty.py
resume/scripts/fontawesome_tail.sty
resume/scripts/fontawesome_preamble.sty
resume/latexmkrc
enginnering/enginnering.synctex(busy)
